body {
	margin: 0;
}

#wrapper {
	background-color: white;
	width: 80%;
	margin: 0 auto;
	min-width: 600px;
}

#banner {
	background-color: #333;
	width:100%;
	height: 60px;
	margin: 0;
}

.logo {
	color: #E0BA00;
	font-size: 40px;
	padding: 5px 30px;
	float: left;
	width: 150px;
	height: 50px;
}

.tab {
	color: white;
	float: left;
	font-size: 20px;
	width: 70px;
	padding: 10px;
}

#content {
	width: 80%;
	height: 500px;
	border: 10px solid black;
	margin: 10px 0;
	clear: both;
	float: right;
}

#sidebar {
	width: 16%;
	border: 2px solid black;
	height: 500px;
	margin: 10px 0;
}

.main-content {
	padding: 25px;
	font-size: 30px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.button {
	background-color: #333;
	color: #E0BA00;
	height: 40px;
	line-height: 40px;
	padding: 4px auto;	
	margin: 1px;
	text-align: center;
}

.button span {
	margin: 10px;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}